<!DOCTYPE html>
<html>
    <head>
        <title>Github-Omnibox help page</title>
        <script src="lib/angular.min.js"></script>
        <script>
            function Options($scope) {
                chrome.storage.sync.get('menu', function(data){
                    $scope.items = data;
                    $scope.$apply();
                });
                $scope.newItem = {};

                save = function(){
                    $scope.saving = true;
                    chrome.storage.sync.set({menu:$scope.items}, function(){
                        console.log('saved');
                        $scope.saving = false;
                        $scope.$apply();
                    });
                };
                $scope.save = function(){
                    $scope.items.push(newItem);
                    $scope.newItem = {};
                    save();
                };
                $scope.remove = function(index) {
                    $scope.items.splice(index, 1);
                    save();
                };
                $scope.up = function(index) {
                    $scope.items.splice(index-1, 0, $scope.items.splice(index,1)[0]);
                    save();
                };
                $scope.down = function(index) {
                    $scope.items.splice(index, 0, $scope.items.splice(index,1)[0]);
                    save();
                };
            }
        </script>
    </head>
    <body ng-app ng-controller="Options">
        
        <h2>Menu Items</h2>
        <form ng-submit="save()">
            <input ng-model="newItem.name" placeholder="name">
            <input ng-model="newItem.icon" placeholder="icon">
            <input ng-model="newItem.badge" placeholder="badge">
            <input ng-model="newItem.url" placeholder="url">
            <button>Add</button>
        </form>
        <ul>
            <li ng-repeat="item in items">
                {{item|json}}
                <a ng-if="!$first" ng-click="up($index)">Up</a>
                <a ng-if="!$last" ng-click="down($index)">Down</a>
                <a ng-click="remove($index)">Remove</a>
            </li>
        </ul>
        <pre>
help

my auth
my unauth
my reset

my issues
my dash
my pulls
my stars
my starred
my settings
my followers
my following
my repositories
my activities

new
new issue
new repo

user/repo
user/repo io
user/repo pages
user/repo pulls
user/repo network
user/repo pulse
user/repo settings
user/repo issues
user/repo contributors
user/repo compare
user/repo wiki
user/repo graphs
user/repo #issue
user/repo new issue
user/repo new pull
user/repo clone
user/repo travis
user/repo @branch /path
user/repo @branch
user/repo /path

/repo
/repo io
/repo pages
/repo pulls
/repo network
/repo pulse
/repo settings
/repo issues
/repo contributors
/repo compare
/repo wiki
/repo graphs
/repo #issue
/repo new issue
/repo new pull
/repo clone
/repo travis
/repo @branch /path
/repo @branch
/repo /path

!io
!pages
!pulls
!network
!pulse
!settings
!issues
!contributors
!compare
!wiki
!graphs
!#issue
!new issue
!new pull
!clone
!travis
!@branch
!@branch /path
!/path

@user/
@user/ followers
@user/ following
@user/ starred
@user/ repositories
@user/ activities

gist
gist id
gist user
gist user/id

        </pre>
    </body>
</html>