<!DOCTYPE html>
<html ng-app ng-csp>
<head>
	<title>Github-Omnibox Options</title>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700" rel="stylesheet" type="text/css">
	<link href="options.css" rel="stylesheet">
	<script src="lib/underscore-min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="lib/base64.js"></script>
	<script src="lib/github.js"></script>
	<script src="options.js"></script>
</head>
<body>
<h1>Github-Omnibox Options</h1>
<div class="container" ng-controller="options">
	<p id="status" ng-class="{active:saved}">Settings were saved!</p>
	<form ng-submit="save(true)">
		<h2>Settings</h2>
		<p>
			<input id="username" type="text" ng-model="data.username">
			<label for="username">
				Github Username
				<span ng-show="error" class="error">Error: {{error}}</span>
			</label>
		</p>
		<p>
			<input id="password" type="password" ng-model="data.password" ng-required="data.username">
			<label for="password">
				Github Password
				<span>This information is not transmitted anywhere</span>
			</label>
		</p>
		<p>
			<button type="submit">Save</button>
			<button ng-click="clear()" type="button">Clear</button>
		</p>
	</form>
	
	<footer>
		<h3>Credits</h3>
		<p><strong><a href="https://github.com/ProLoser/Github-Omnibox" target="_blank">Github-Omnibox</a></strong> developed by <a href="http://www.deansofer.com" target="_blank">Dean Sofer</a>.</p>
	</footer>
</div>
</body>
</html>