@import "compass/css3/transition";

body {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	padding: 20px;
	text-align: left;
	width: 700px;
	margin: 0 auto;
	background: #275786; 
}

.container {
	padding: 0px 20px 20px 20px;
	background: #ffffff;
	box-shadow: 0px 0px 10px #333333;
	border: 4px solid #cccccc; 
}

ul {
	text-align: left;
	list-style: square;
	padding-left: 25px;
	margin-top: 0;
}

h1 {
	margin: 0px;
	padding: 10px 0px;
	font-size: 24px;
	letter-spacing: -1px;
	color: #ffffff;
	font-weight: 800;
	text-shadow: #333333 0px -2px 1px; 
}

h2 {
	border-top: 1px solid #cccccc;
	padding-top: 5px;
	line-height: 24px;
	font-size: 24px;
	font-weight: 300;
	color: #999999;
	margin: 20px -20px 0px -20px;
	padding: 15px 20px 15px 20px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, #eeeeee));
	background-image: -webkit-linear-gradient(bottom, white 0%, #eeeeee 100%); 
}

h3 {
	margin: 0;
	padding: 0;
}

h4 {
	margin: 0;
}

form {
	h2 {
		border: 0px;
		margin-top: 0px;
	}
	p {
		text-align: left;
	}
	label {
		display: block;
		font-weight: 700;
		margin-left: 26px;
		span {
			display: block;
			font-weight: normal;
			&.error {
				color: red;
			}
		}
	}
	input {
		float: left;
		display: block;
		width: auto;
		margin: 0 5px 0 0;
		[type=checkbox] {
			width: 20px;
			margin: 0 3px;
		}
	}
}

#status {
	@include transition(all ease 0.2s);
	color: #ffffff;
	background: green;
	font-weight: bold;
	margin: 0px -20px;
	font-weight: bold;
	font-size: 14px;
	text-align: center; 
	height: 0;
	opacity: 0;
	padding: 0;
	&.active {
		height: 20px;
		opacity: 1;
		padding: 10px;
	}
}

footer {
	background: #eee;
	margin: 30px -15px -15px -15px;
	padding: 15px;
	background: #333333;
	color: #ffffff;
	a {
		color: #ffffff;
		text-decoration: underline;
	}
}